In [2]:
# bibliotecas
import pandas as pd
import time
import pickle

# funÃ§Ãµes 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error

# modelos
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression

|             | Random Forest(est= 11, depth=27)   | Random Forest(est=100, depth=27)  | LinearRegression(fit_intercept, jobs=-1)   |
|-------------|------------|------------|------------|
| train_score     | ðŸŸ¨0.9699817221823089    | ðŸŸ©0.9764383475241958    | ðŸŸ¥0.720336930225542    |
| test_score     | ðŸŸ¨0.8545331007661833    |ðŸŸ©0.8642377492706509    | ðŸŸ¥0.7211501035967206    |
| MAE($)  | ðŸŸ¨1795.9145966752583    | ðŸŸ©1730.1057586683519    | ðŸŸ¥2838.1486088502406    |
| time(s)     | ðŸŸ¨8.10574460029602    | ðŸŸ¥66.94056940078735    | ðŸŸ©0.4054858684539795    |

### CÃ©lula usada para encontrar os melhores hiperparÃ¢metros da Random Forest

```best_error = float('inf')
best_est = 0
best_depth = 0

for est in range(10, 101, 5):
    for depth in range(20, 31):
        model = RandomForestRegressor(random_state=1506, n_estimators=est, max_depth=depth)
        model.fit(features_train, target_train)
        predictions_test = model.predict(features_test)
        error = mean_squared_error(target_test, predictions_test)**0.5
        print(f"ValidaÃ§Ã£o de REQM para n_estimators={est}, depth={depth} Ã© {error}")
        if error < best_error:
            best_error = error
            best_est = est
            best_depth = depth

print(f"Melhor REQM de teste: {best_error} com n_estimators={best_est} e max_depth={best_depth}")
```

# Melhor modelo

In [3]:
# carregando dataset
car_data = pd.read_csv('datasets/car_data.csv')

In [4]:
# retirando colunas que nÃ£o serÃ£o utilizadas
car_data = car_data.drop(['date_posted', 'days_listed', 'year_posted', 'car_age'] , axis=1)

In [5]:
# Identificar outliers usando IQR
Q1 = car_data['price'].quantile(0.25)
Q3 = car_data['price'].quantile(0.75)
IQR = Q3 - Q1

# Filtrar outliers
car_data = car_data[~((car_data['price'] < (Q1 - 1.5 * IQR)) | (car_data['price'] > (Q3 + 1.5 * IQR)))]

In [6]:
# trocar todos os espaÃ§os por underlines
car_data.columns = car_data.columns.str.replace(' ', '_') 
# trocar todos os espaÃ§os por underlines nas linhas
car_data['model'] = car_data['model'].str.replace(' ', '_')

In [7]:
# transformando a coluna condition em numÃ©rica colocando "pesos" para cada condiÃ§Ã£o
condition_mapping = {
    "new": 5,
    "like new": 4,
    "excellent": 3,
    "good": 2,
    "fair": 1,
    "salvage": 0
}

# atribuindo os valores numÃ©ricos ao dataset
car_data['condition'] = car_data['condition'].map(condition_mapping)

In [8]:
# separando features e target
features = car_data.drop('price', axis=1)
target = car_data['price']

In [9]:
# aplicando One-Hot Encoding nas variÃ¡veis categÃ³ricas restantes
features_encoded = pd.get_dummies(features, columns=['model', 'fuel', 'transmission', 'type', 'paint_color', 'brand'])

In [10]:
# separando dados de treino e teste
features_train, features_test, target_train, target_test = train_test_split(features_encoded, target, test_size=0.2, random_state=1506, shuffle=True)

In [11]:
model = RandomForestRegressor(random_state=1506, n_estimators=11, max_depth=27, n_jobs=-1)

In [12]:
start = time.time()
model.fit(features_train, target_train)
end = time.time()
tempo = end - start
tempo

3.8985562324523926

In [13]:
print(model.score(features_train, target_train),
model.score(features_test, target_test))

0.9699817221823089 0.8545331007661833

In [14]:
predictions = model.predict(features_test)
print(predictions)

[19900.         28466.61043674  4698.45454545 ...  8359.08431477
  5525.14146465 13956.73783287]

In [15]:
print(target_test)

33882    19900
14809    34000
32496     1800
28582     2900
7332     25900
         ...
36037    12000
49324     5200
22230     9900
49193     4900
38880    12500
Name: price, Length: 9759, dtype: int64

In [16]:
rmse = mean_squared_error(target_test, predictions)**0.5
mae = mean_absolute_error(target_test, predictions)
print(f' RMSE: {rmse} \n MAE: {mae}')

 RMSE: 2913.364558864547
 MAE: 1795.9145966752583

# Salvando Dataset

In [17]:
car_data = car_data.drop(['price'], axis=1)

# Salvando Modelo

In [18]:
#car_data.to_csv('model.csv', index=False)

In [19]:
df_structure = features_encoded.drop(features_encoded.index)

In [20]:
#df_structure.to_csv('structure.csv', index=False)

In [21]:
# Saving model to pickle file
with open("predict.pkl", "wb") as file: # file is a variable for storing the newly created file, it can be anything.
    pickle.dump(model, file) # Dump function is used to write the object into the created file in byte format.

In [22]:
features_train.head()

,model_year,condition,cylinders,odometer,is_4wd,model_acura_tl,model_bmw_x5,model_buick_enclave,model_cadillac_escalade,model_chevrolet_camaro,...,brand_gmc,brand_honda,brand_hyundai,brand_jeep,brand_kia,brand_nissan,brand_ram,brand_subaru,brand_toyota,brand_volkswagen
36479,2011,3,8,181318,1,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30942,2018,4,6,37650,0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
19752,2009,2,6,133000,0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
32121,2001,1,4,200000,0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
38071,2017,3,8,50000,0,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [23]:
dft = features_encoded.drop(features_encoded.index)
dft.head()

Empty DataFrame
Columns: [model_year, condition, cylinders, odometer, is_4wd, model_acura_tl, model_bmw_x5, model_buick_enclave, model_cadillac_escalade, model_chevrolet_camaro, model_chevrolet_camaro_lt_coupe_2d, model_chevrolet_colorado, model_chevrolet_corvette, model_chevrolet_cruze, model_chevrolet_equinox, model_chevrolet_impala, model_chevrolet_malibu, model_chevrolet_silverado, model_chevrolet_silverado_1500, model_chevrolet_silverado_1500_crew, model_chevrolet_silverado_2500hd, model_chevrolet_silverado_3500hd, model_chevrolet_suburban, model_chevrolet_tahoe, model_chevrolet_trailblazer, model_chevrolet_traverse, model_chrysler_200, model_chrysler_300, model_chrysler_town_&_country, model_dodge_charger, model_dodge_dakota, model_dodge_grand_caravan, model_ford_econoline, model_ford_edge, model_ford_escape, model_ford_expedition, model_ford_explorer, model_ford_f-150, model_ford_f-250, model_ford_f-250_sd, model_ford_f-250_super_duty, model_ford_f-350_sd, model_ford_f150, model_ford_f150_supercrew_cab_xlt, model_ford_f250, model_ford_f250_super_duty, model_ford_f350, model_ford_f350_super_duty, model_ford_focus, model_ford_focus_se, model_ford_fusion, model_ford_fusion_se, model_ford_mustang, model_ford_mustang_gt_coupe_2d, model_ford_ranger, model_ford_taurus, model_gmc_acadia, model_gmc_sierra, model_gmc_sierra_1500, model_gmc_sierra_2500hd, model_gmc_yukon, model_honda_accord, model_honda_civic, model_honda_civic_lx, model_honda_cr-v, model_honda_odyssey, model_honda_pilot, model_hyundai_elantra, model_hyundai_santa_fe, model_hyundai_sonata, model_jeep_cherokee, model_jeep_grand_cherokee, model_jeep_grand_cherokee_laredo, model_jeep_liberty, model_jeep_wrangler, model_jeep_wrangler_unlimited, model_kia_sorento, model_kia_soul, model_nissan_altima, model_nissan_frontier, model_nissan_frontier_crew_cab_sv, model_nissan_maxima, model_nissan_murano, model_nissan_rogue, model_nissan_sentra, model_nissan_versa, model_ram_1500, model_ram_2500, model_ram_3500, model_subaru_forester, model_subaru_impreza, model_subaru_outback, model_toyota_4runner, model_toyota_camry, model_toyota_camry_le, model_toyota_corolla, model_toyota_highlander, model_toyota_prius, model_toyota_rav4, model_toyota_sienna, ...]
Index: []

[0 rows x 156 columns]

In [24]:
input_model = ["bmw","bmw x5",2011,0,6,"gas","automatic","SUV","unknown",1,10000]

In [25]:
columns_user = [f'brand_{input_model[0]}', f'model_{input_model[1]}', 'model_year', 'condition', 'cylinders', f'fuel_{input_model[5]}', f'transmission_{input_model[6]}', f'type_{input_model[7]}', f'paint_color_{input_model[8]}', 'is_4wd', 'odometer']
columns_user

['brand_bmw',
 'model_bmw x5',
 'model_year',
 'condition',
 'cylinders',
 'fuel_gas',
 'transmission_automatic',
 'type_SUV',
 'paint_color_unknown',
 'is_4wd',
 'odometer']

In [26]:
dftt = pd.DataFrame([input_model], columns=columns_user)
df_final = pd.concat([dft, dftt], axis=0)
df_final = df_final.fillna(False)
df_final.head()

C:\Users\Henrique\AppData\Local\Temp\ipykernel_11452\3536925992.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_final = df_final.fillna(False)

,model_year,condition,cylinders,odometer,is_4wd,model_acura_tl,model_bmw_x5,model_buick_enclave,model_cadillac_escalade,model_chevrolet_camaro,...,brand_honda,brand_hyundai,brand_jeep,brand_kia,brand_nissan,brand_ram,brand_subaru,brand_toyota,brand_volkswagen,model_bmw x5
0,2011,0,6,10000,1,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,bmw x5